*{
	padding: 0;
	margin: 0
}
#pg-footer{
	width: 100vw;
	border: 2px inset green;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(0,0,0,0.2);
	min-height: 50px;
	align-items: center; 
}