<div id="container">
	<!-- <app-coursebar></app-coursebar> -->
	<section id="row1">
		<!-- <app-studentlist></app-studentlist> -->
		<router-outlet></router-outlet>
	</section>
	
</div>


<!-- 
<div id="scientificCalc" style="margin: 100px auto">
	<h3>Scientific Calculator</h3>
	<input type="number" name="num" [(ngModel)]="num">
	<button (click)="mathF()">sin</button> 
	<button (click)="mathF()">cos</button> 
	<button (click)="mathF()">tan</button> 
	<button class="btn btn-success btn-sm col-sm-12">Result: {{ num | scientificCalc:value}}</button>
</div> -->
<!-- <app-timezone day="thursday"></app-timezone> -->
