#container{
	min-height: 85vh;
	margin-top: 8%;
}

/* #row1{
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	border:2px solid rgba(0,0,0,.9);
	height: auto;
	padding: 12px
} */

/* #scientificCalc{
	width:50%;
	min-height:100px;
	margin: auto;
	border: 2px solid rgba(2,5,6,0.4);
    text-align: center;
} */