<app-coursebar></app-coursebar>
<div class=" container-fluid">
  <div class="row">
		<div class="col-md-8">
			<table id="table" class="table table-striped table-sm table-bordered">
				<caption style="caption-side:top">
					<h3>Employee Details</h3>
				</caption>
				<thead>
					<tr>
						<th>Name Of Employee</th>
						<th>Location Of Employee</th>
						<th>Employee's Contact No</th>
					</tr>
				</thead>
			
				<tbody>
					<tr>
						<td>Employee A</td>
						<td>Bangalore</td>
						<td>91XXXXXXXXXX</td>
					</tr>
					<tr>
						<td>Employee B</td>
						<td>Bangalore</td>
						<td>91XXXXXXXXXX</td>
					</tr>
					<tr>
						<td>Employee C</td>
						<td>Bangalore</td>
						<td>91XXXXXXXXXX</td>
					</tr>
					<tr>
						<td>Employee D</td>
						<td>Bangalore</td>
						<td>91XXXXXXXXXX</td>
					</tr>
					<tr>
						<td>Employee E</td>
						<td>Bangalore</td>
						<td>91XXXXXXXXXX</td>
					</tr>
					<tr>
						<td>Employee F</td>
						<td>Bangalore</td>
						<td>91XXXXXXXXXX</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-4">
			<app-login></app-login>
		</div>
  </div>
</div>


